/* Загрузка шрифтов */
@font-face {
    font-family: Raleway;
    src: url(../fonts/Raleway-VariableFont_wght.woff) format("woff");
    src: url(../fonts/Raleway-VariableFont_wght.ttf) format("truetype");
}

/* Сброс всех стилей: */

/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Все основные стили: */

body{
    background: #835FB5;
    overflow: hidden;
}

/* Хедер */
header{
    margin: 20px auto 0;
    width: 1710px;

    display: flex;
    padding: 10px 10px 10px 20px;
    align-items: center;
    justify-content: space-between;

    border-radius: 8px;
    background: rgba(255, 255, 255, 0.80);

    color: #400F65;
    font-family: Raleway;
    font-size: 20px;
    font-style: normal;
    line-height: normal;
}

div.logo{
    width: 300px;
    height: 46px;

    background-image: url(../img/farmakopeikaLogo.svg);
}

header div.textWrapper {
    display: flex;
    align-items: flex-start;
    gap: 40px;
}

header p.number{    
    font-variant-numeric: lining-nums proportional-nums;
    font-weight: 800;
}

header a.text{
    font-weight: 600;
    text-decoration: none;
}

header a.text:active{
    color: #400F65;
}

input.registerButton{
    display: flex;
    width: 347px;
    height: 64px;
    padding: 20px 30px;
    justify-content: center;
    align-items: center;
    gap: 10px;

    border: 0 solid transparent;
    border-radius: 12px;
    background: #FFF;

    color: #400F65;
    font-family: Raleway;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

div.familyImg{
    position: absolute;
    top:139px;
    
    background-image: url(../img/family1920.webp);
    
    background-size: cover;
    width: 995px;
    height: 1356px;
}

@media (min-width: 2560px) {
  div.familyImg{
    left: calc(100vw / 1.886);
  }
}
@media (max-width: 2560px) {
  div.familyImg{
    left: calc(100vw / 1.825);
  }
}
@media (max-width: 1903px) {
  div.familyImg{
    left: calc(100vw / 1.736);
  }
}
@media (max-width: 1440px) {
  div.familyImg{  
    left: calc(100vw / 1.973);
    width: 879px;
    height: 1268px;
  }
}
@media (max-width: 1260px){
  div.familyImg{  
    left: calc(100vw / 1.927);
    width: 782px;
    height: 986px;
  }
}
@media (max-width: 1024px){
  div.familyImg{  
    left: calc(100vw / 1.58);   
    width: 470px;
    height: 727px;
  }
}
@media (max-width: 320px){
  div.familyImg{  
    left: calc(100vw / 4.38);
    width: 312px;
    height: 458px;
  }        
}
 